
/*____________ entry ____________*/

.dokuwiki div.pluginrepo_entry {
    max-width: 800px;
    min-width: 230px;
    border: 1px solid __background_alt__;
    border-radius: 2px;
    margin: 0 1.5em 1.5em 0;
    text-align: left;
}

/* layout */
.dokuwiki div.pluginrepo_entry div.mainInfo,
.dokuwiki div.pluginrepo_entry div.metaInfo,
.dokuwiki div.pluginrepo_entry div.usageInfo {
    float: left;
    padding: .5em;
}
.dokuwiki div.pluginrepo_entry div.mainInfo {
    width: 350px;
}
.dokuwiki div.pluginrepo_entry div.metaInfo {
    width: 200px;
}
.dokuwiki div.pluginrepo_entry div.usageInfo {
    width: 200px;
}
.dokuwiki div.pluginrepo_entry div.moreInfo,
.dokuwiki div.pluginrepo_entry div.authorInfo {
    clear: left;
    padding: .5em;
}

/* general styles within the entry */
.dokuwiki div.pluginrepo_entry p {
    margin-bottom: .5em;
}
.dokuwiki div.pluginrepo_entry ul {
    margin: 0 0 .5em 0;
    list-style: none;
}
.dokuwiki div.pluginrepo_entry ul li {
    color: __text__;
}
.dokuwiki div.pluginrepo_entry dt {
    font-weight: bold;
}
.dokuwiki div.pluginrepo_entry dd {
    margin-bottom: .5em;
}

/* mainInfo */
.dokuwiki div.pluginrepo_entry div.mainInfo img.medialeft {
    margin-bottom: 1em;
}
.dokuwiki div.pluginrepo_entry div.mainInfo a.screenshot {
    display: block;
    clear: left;
    margin-left: 1.5em;
}


/* metaInfo */
.dokuwiki div.pluginrepo_entry div.metaInfo {
}

/* usageInfo */
.dokuwiki div.pluginrepo_entry div.compatibility p {
    font-weight: bold;
    margin-bottom: .5em;
}
/* TODO: temporary */
.dokuwiki div.pluginrepo_entry div.compatibility p sup {
    display: none;
}

/* compatibility */
.dokuwiki div.pluginrepo_entry div.compatibility div.versions {
    position: relative;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul {
    background-color: __background__;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul:hover {
    position: absolute;
    top: 0;
    left: 0;
}
.dokuwiki div.pluginrepo_entry div.compatibility li {
    display: none;
}
.dokuwiki div.pluginrepo_entry div.compatibility li:first-child {
    display: block;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul:hover li {
    display: block;
}


/*____________ query ____________*/

.dokuwiki div.pluginrepo_query table {
    margin-bottom: .5em;
}
.dokuwiki div.error.repoquery {
    margin-bottom: 1em;
}

/*____________ table ____________*/

div#pluginrepo__table div.repo__alphabet {
    width: 70%;
    float: left;
}

div#pluginrepo__table div.repo__resetfilter {
    float: right;
}

div#pluginrepo__table table {
    width: 100%;
}

div#pluginrepo__table table th a:link,
div#pluginrepo__table table th a:active,
div#pluginrepo__table table th a:hover,
div#pluginrepo__table table th a:visited {
    color: #000;
}

div#pluginrepo__table table .center {
    text-align: center;
}

div#pluginrepo__table table .popularity,
div#pluginrepo__table table .lastupdate {
    width: 7em;
    text-align: center;
}

div#pluginrepo__table table .screenshot {
    width: 95px;
    text-align: center;
}

div#pluginrepo__table table div.details {
    margin-left: 1em;
}

div#pluginrepo__table div.repo_authorsort {
    float: right;
}

div#pluginrepo__table div.repo_plugintitle {
    padding-bottom: 0.2em;
    float: left;
}

div#pluginrepo__table div.repo_plugintitle a{
    font-weight: bold;
}

div#pluginrepo__table div.repo_download {
    float: right;
}

div#pluginrepo__table div.repo_download a{
    background: transparent url(images/download.gif) 0px 2px no-repeat;
    padding: 0px 0px 0px 12px;
    font-weight: bold;
}


div#pluginrepo__table div.repo_provides {
    padding-top: 0.5em;
    font-size: 70%;
    float: left;
}

div#pluginrepo__table div.repo_mail {
    padding-top: 0.5em;
    font-size: 70%;
    float: right;
}

div#pluginrepo__table div.prog-border {
    background: #FFFFFF none repeat scroll 0%;
    border: 1px solid silver;
    height: 5px;
    margin: 0pt;
    padding: 1px;
    width: 65px;
}

div#pluginrepo__table .prog-bar {
    background: #8CACBB none repeat scroll 0%;
    height: 100%;
    margin: 0pt;
    padding: 0pt;
}

/*____________ repo ____________*/

div#pluginrepo__repo div.repo_info {
    width: 24%;
    float: left;
}

div#pluginrepo__repo div.repo_info ul {
    margin: 1.5em;
}

div#pluginrepo__repo div.repo_info ul li {
    margin-bottom: 0.5em;
}

div#pluginrepo__table h3,
div#pluginrepo__repo  h3 {
    margin-left: -3px;
    font-weight: normal;
}

div#pluginrepo__repo div#repo_searchform  {
    float: right;
}

div#pluginrepo__repo div.repo_cloud {
    border-left: 1px solid __border__;
    padding: 0em 2% 1.5em 2%;
    width: 71%;
    float: right;
    overflow: auto;
    padding-right: 0.5em;
}

div#pluginrepo__repo div.repo_cloud a.cl0 { font-size: 0.7em }
div#pluginrepo__repo div.repo_cloud a.cl1 { font-size: 0.9em }
div#pluginrepo__repo div.repo_cloud a.cl2 { font-size: 1em }
div#pluginrepo__repo div.repo_cloud a.cl3 { font-size: 1.3em }
div#pluginrepo__repo div.repo_cloud a.cl4 { font-size: 1.6em }
div#pluginrepo__repo div.repo_cloud a.cl5 { font-size: 1.9em }

div#pluginrepo__repo div.repo_info {
    position: relative;
}

div#qsearch2__out {
    position: absolute;
    right: auto;
    left: 0;
}


/*____________ news ____________*/

.dokuwiki div.pluginrepo_news {
    border: 1px solid __background_alt__;
    border-radius: 2px;
    padding: .5em;
    margin: 0 0 1em 1em;
    width: 16em;
    min-width: 210px;
    float: right;
    text-align: left;
    /* so that other backgrounds underneath won't shine through */
    background: __background__;
    color: inherit;
}

.dokuwiki div.pluginrepo_news h4 {
    margin: -.5em -.5em .5em;
    padding: .2em .5em .3em;
    text-align: left;
    font-weight: bold;
    background-color: __background_neu__;
    color: __text_neu__;
    font-size: 1em;
}
.dokuwiki div.pluginrepo_news p {
    margin-bottom: .5em;
}
.dokuwiki div.pluginrepo_news ul {
    margin: 0 0 .5em 1.5em;
}
.dokuwiki div.pluginrepo_news p.title {
    font-weight: bold;
}
.dokuwiki div.pluginrepo_news a.screenshot {
    display: block;
    margin-bottom: .5em;
}
.dokuwiki div.pluginrepo_news p.more {
    text-align: right;
    margin-bottom: 0;
}

