
/*____________ entry ____________*/

.dokuwiki div.pluginrepo_entry {
    max-width: 800px;
    min-width: 230px;
    border: 1px solid __background_alt__;
    border-radius: 2px;
    margin: 0 1.5em 1.5em 0;
    text-align: left;
}

/* layout */
.dokuwiki div.pluginrepo_entry div.mainInfo,
.dokuwiki div.pluginrepo_entry div.metaInfo,
.dokuwiki div.pluginrepo_entry div.usageInfo {
    float: left;
    padding: .5em;
}
.dokuwiki div.pluginrepo_entry div.mainInfo {
    width: 42%;
}
.dokuwiki div.pluginrepo_entry div.metaInfo {
    width: 20%;
}
.dokuwiki div.pluginrepo_entry div.usageInfo {
    width: 30%;
    float: right;
}
.dokuwiki div.pluginrepo_entry div.moreInfo,
.dokuwiki div.pluginrepo_entry div.authorInfo {
    clear: left;
    padding: .5em;
}


/* just for the new template */
.dokuwiki #dokuwiki__content div.pluginrepo_entry div.mainInfo {
    width: auto;
    float: none;
}
.dokuwiki #dokuwiki__content div.pluginrepo_entry div.metaInfo {
    width: auto;
    float: none;
    clear: left;
}
.dokuwiki #dokuwiki__content div.pluginrepo_entry div.metaInfo dt {
    float: left;
    clear: left;
    margin-right: .5em;
}
.dokuwiki #dokuwiki__content div.pluginrepo_entry div.metaInfo dd {
    margin-bottom: .2em;
}


/* general styles within the entry */
.dokuwiki div.pluginrepo_entry p {
    margin-bottom: .5em;
}
.dokuwiki div.pluginrepo_entry ul {
    margin: 0 0 .5em 0;
    padding: 0;
    list-style: none;
}
.dokuwiki div.pluginrepo_entry ul li {
    color: __text__;
    margin: 0;
}
.dokuwiki div.pluginrepo_entry dt {
    font-weight: bold;
}
.dokuwiki div.pluginrepo_entry dd {
    margin-bottom: .5em;
    margin-left: 0;
}

/* mainInfo */
.dokuwiki div.pluginrepo_entry div.mainInfo img.medialeft {
    margin-bottom: 1em;
}
.dokuwiki div.pluginrepo_entry div.mainInfo a.screenshot {
    display: block;
    margin-left: 1.5em;
}

/* metaInfo */
.dokuwiki div.pluginrepo_entry div.metaInfo {
}
.dokuwiki div.pluginrepo_entry div.metaInfo dl {
    margin-bottom: 0;
}

/* usageInfo */
.dokuwiki div.pluginrepo_entry div.compatibility p.label {
    font-weight: bold;
    margin-bottom: 0;
}

/* compatibility */
.dokuwiki div.pluginrepo_entry div.compatibility div.versions {
    position: relative;
    min-height: 20px;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul {
    background: transparent url(images/arrowdown.png) no-repeat right bottom;
    overflow: hidden;
    margin: 0;
    padding-left: 2px;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul:hover {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px #999;
    width: 300px;
    overflow: visible;
    border: 2px solid __background__;
    margin: -2px -2px 0;
    background: __background__;
}
.dokuwiki div.pluginrepo_entry div.compatibility li {
    display: none;
    color: __text__ !important;
}
.dokuwiki div.pluginrepo_entry div.compatibility li:first-child {
    display: block;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul:hover li {
    display: block;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul li strong span {
    display: none;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul li strong {
    font-weight: normal;
    background: transparent url(images/unknown.png) no-repeat top right;
    padding-right: 20px;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul li.yes strong {
    background-image: url(../../images/success.png);
}
.dokuwiki div.pluginrepo_entry div.compatibility ul li.probably strong {
    background-image: url(images/exclamation.png);
}
.dokuwiki div.pluginrepo_entry div.compatibility ul:hover li strong {
    float: right;
    clear: right;
}
.dokuwiki div.pluginrepo_entry div.compatibility ul:hover li strong span {
    display: inline;
}

/* action links */
.dokuwiki div.pluginrepo_entry div.usageInfo ul.actions {
    margin-top: 2em;
}
.dokuwiki div.pluginrepo_entry div.usageInfo ul.actions a {
    display: block;
    padding: .3em .3em .4em 37px;
    font-size: 120%;
    text-decoration: none;
    border: 1px solid __background_alt__;
    border-radius: 5px;
    margin-bottom: .5em;
    background-repeat: no-repeat;
    background-position: 2px 0;
}
.dokuwiki div.pluginrepo_entry div.usageInfo ul.actions a:hover {
    border: 1px solid __border__;
}
.dokuwiki div.pluginrepo_entry div.usageInfo ul.actions a.bugs {
    background-image: url(images/bugs.png);
}
.dokuwiki div.pluginrepo_entry div.usageInfo ul.actions a.donate {
    background-image: url(images/donate.png);
}
.dokuwiki div.pluginrepo_entry div.usageInfo ul.actions a.download {
    background-image: url(images/download.png);
}

/* author info */
.dokuwiki div.pluginrepo_entry div.authorInfo {
}
.dokuwiki div.pluginrepo_entry div.authorInfo strong {
    font-size: 120%;
    font-weight: normal;
}
.dokuwiki div.pluginrepo_entry div.authorInfo strong a.mail {
    background-position: 0 2px;
    padding-left: 18px;
}
.dokuwiki div.pluginrepo_entry div.authorInfo ul {
    margin-bottom: 0;
}
.dokuwiki div.pluginrepo_entry div.authorInfo ul li {
    display: inline;
}

/* security (additions to core msg styles) */
.dokuwiki div.pluginrepo_entry div.error,
.dokuwiki div.pluginrepo_entry div.info,
.dokuwiki div.pluginrepo_entry div.notify {
    padding-top: .5em;
    margin-bottom: .5em;
    background-position: .5em .5em;
    padding-left: 2.5em;
}


/*____________ query ____________*/

.dokuwiki div.pluginrepo_query table {
    margin-bottom: .5em;
}
.dokuwiki div.error.repoquery {
    margin-bottom: 1em;
}

/*____________ table ____________*/

.dokuwiki div.pluginrepo_table h3 {
    margin-left: 0;
}

/* layout */
.dokuwiki div.pluginrepo_table div.repoFilter {
    float: left;
    width: 24%;
}
.dokuwiki div.pluginrepo_table div.repoCloud {
    border-left: 1px solid __border__;
    padding: 0em 0 1.5em 2%;
    width: 71%;
    float: right;
    overflow: auto;
}

/* search form */
.dokuwiki div.pluginrepo_table form.plugin-search {
    position: relative;
    margin-bottom: 1.4em;
    display: block;
}
.dokuwiki div.pluginrepo_table form.plugin-search input.edit {
    margin-bottom: .2em;
    max-width: 100%;
}
/* quick search result AJAX popup */
#qsearch2__out {
    position: absolute;
    right: auto;
    left: 0;
    top: 1.4em;
}
#qsearch2__out ul {
    margin: 0 0 0 1.5em;
}

/* filter by types */
.dokuwiki div.pluginrepo_table ul.types {
    padding-left: 0;
}
.dokuwiki div.pluginrepo_table ul.types li {
    margin-bottom: .5em;
    line-height: 1.3;
    text-align: left;
}

/* tag cloud */
.dokuwiki div.pluginrepo_table a.cl0 { font-size: 0.7em; }
.dokuwiki div.pluginrepo_table a.cl1 { font-size: 0.9em; }
.dokuwiki div.pluginrepo_table a.cl2 { font-size: 1em; }
.dokuwiki div.pluginrepo_table a.cl3 { font-size: 1.3em; }
.dokuwiki div.pluginrepo_table a.cl4 { font-size: 1.6em; }
.dokuwiki div.pluginrepo_table a.cl5 { font-size: 1.9em; }

/* repo table */
.dokuwiki div.pluginrepo_table table {
    width: 100%;
    clear: both;
}
.dokuwiki div.pluginrepo_table table caption {
    text-align: left;
}
.dokuwiki div.pluginrepo_table table th a {
    color: __text__;
}
.dokuwiki div.pluginrepo_table table th a.authorSort {
    float: right;
}

.dokuwiki div.pluginrepo_table table td {
    text-align: center;
}
.dokuwiki div.pluginrepo_table table td.info {
    text-align: left;
}
.dokuwiki div.pluginrepo_table table .popularity,
.dokuwiki div.pluginrepo_table table .lastupdate {
    width: 7em;
}
.dokuwiki div.pluginrepo_table table .screenshot {
    width: 95px;
}

/* main info field */
.dokuwiki div.pluginrepo_table table div.mainInfo strong {
    float: left;
    margin-bottom: .2em;
}
.dokuwiki div.pluginrepo_table table div.mainInfo em {
    font-style: normal;
    float: right;
}
.dokuwiki div.pluginrepo_table table div.mainInfo em a {
    font-style: normal;
    font-weight: bold;
    float: right;
    background: transparent url(images/download.gif) 0 2px no-repeat;
    padding: 0 0 0 12px;
}

.dokuwiki div.pluginrepo_table table p.description {
    clear: both;
    margin-bottom: .4em;
    min-height: 60px; /* plugin logo is 60x60 */
}

.dokuwiki div.pluginrepo_table table dl {
    font-size: 79%;
    margin-bottom: 0;
}
.dokuwiki div.pluginrepo_table table dl dt,
.dokuwiki div.pluginrepo_table table dl dd {
    display: inline;
}
.dokuwiki div.pluginrepo_table table dl dd {
    margin: 0 .5em 0 .2em;
}
.dokuwiki div.pluginrepo_table table dl dt.author {
    display: none;/* @todo: hide accessibly */
}
.dokuwiki div.pluginrepo_table table dl dd.author {
    float: right;
    margin: 0;
}
.dokuwiki div.pluginrepo_table table dl dd.author a.mail {
    background-position: 0 0;
    padding-left: 17px;
}

/* alphabet navigation and reset filter on top when filtered */
.dokuwiki div.pluginrepo_table div.alphaNav,
.dokuwiki div.pluginrepo_table div.resetFilter {
    margin-bottom: .3em;
}
.dokuwiki div.pluginrepo_table div.alphaNav {
    width: 70%;
    float: left;
}
.dokuwiki div.pluginrepo_table div.alphaNav a {
    padding: .2em .5em;
    margin-right: -.5em;
}
.dokuwiki div.pluginrepo_table div.alphaNav a:hover,
.dokuwiki div.pluginrepo_table div.alphaNav a:active,
.dokuwiki div.pluginrepo_table div.alphaNav a:focus {
    background-color: __border__;
    color: __background__;
    border-radius: 4px;
    text-decoration: none;
}
.dokuwiki div.pluginrepo_table div.resetFilter {
    float: right;
}

/* progress bar */
.dokuwiki div.pluginrepo_table div.progress {
    background-color: __background__;
    border: 1px solid silver;
    height: .4em;
    margin: 0 auto;
    padding: 1px;
    width: 5.5em;
}
.dokuwiki div.pluginrepo_table div.progress div {
    background-color: __border__;
    height: 100%;
}
.dokuwiki div.pluginrepo_table div.progress div span {
    display: none;/* @todo: hide accessibly */
}


/*____________ news ____________*/

.dokuwiki div.pluginrepo_news {
    border: 1px solid __background_alt__;
    border-radius: 2px;
    padding: .5em;
    margin: 0 0 1em 1em;
    width: 16em;
    min-width: 210px;
    float: right;
    text-align: left;
    /* so that other backgrounds underneath won't shine through */
    background: __background__;
    color: inherit;
}

.dokuwiki div.pluginrepo_news h4 {
    margin: -.5em -.5em .5em;
    padding: .2em .5em .3em;
    text-align: left;
    font-weight: bold;
    background-color: __background_alt__;
    color: __text_neu__;
    font-size: 1em;
}
.dokuwiki div.pluginrepo_news p {
    margin-bottom: .5em;
}
.dokuwiki div.pluginrepo_news ul {
    margin: 0;
    padding: 0;
}
.dokuwiki div.pluginrepo_news ul li {
    margin-left: 1.5em;
}
.dokuwiki div.pluginrepo_news p.title {
    font-weight: bold;
}
.dokuwiki div.pluginrepo_news a.screenshot {
    display: block;
    margin-bottom: .5em;
}
.dokuwiki div.pluginrepo_news p.more {
    text-align: right;
    margin-bottom: 0;
}

