div#pluginrepo__plugin {
    background-color: #fff;
    border: 1px solid __border__;
    padding: 0.7em 1em 0.2em 1em;
    font-size: 90%;
}

div.pluginrepo__box {
    width: 450px;
}
div.pluginrepo__screenshotbox {
    width: 615px;
}

div#pluginrepo__plugin div {
    background: #fff url(images/dwplugin.png) 5px 5px no-repeat;
    height: auto !important;
    height: 80px;
    min-height: 80px;
    padding-left: 80px;
    margin-bottom: 1em;
    font-size: 105%;
}

div#pluginrepo__plugin p.security,
div#pluginrepo__plugin p.securitywarning {
    background-color: #fcc;
    color: #000;
    border: 1px solid #faa;
    padding: 0.3em;
}

div#pluginrepo__plugin p.securitywarning {
    background-color: #ffc;
}

div#pluginrepo__plugin table.compatible {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 80%;
    text-align: center;
    min-width: 330px;
}

div#pluginrepo__plugin td {
    font-style: italic;
}

div#pluginrepo__plugin table td div {
    min-height: 0px;
    padding: 0px;
    margin: 0em;
}

div#pluginrepo__plugin table td div.compatible {
    background: #fff url(../../images/success.png) no-repeat right;
    padding-right: 12px;
}

div#pluginrepo__plugin table td div.unkown_compatible {
    background: #fff;
    color: __border__;
}

div#pluginrepo__plugin div#pluginrepo__pluginscreenshot {
    background: #fff;
    padding: 0em 0em 0em 1em;
    float: right;
}

div.pluginrepo__query table.inline {
    margin-bottom: 0em;
}

div.pluginrepo__query div.pluginrepo__querytotal {
    margin-bottom: 1em;
}

div#pluginrepo__table div.repo__alphabet {
    width: 70%;
    float: left;
}

div#pluginrepo__table div.repo__resetfilter {
    float: right;
}

div#pluginrepo__table table {
    width: 100%;
}

div#pluginrepo__table table th a:link,
div#pluginrepo__table table th a:active,
div#pluginrepo__table table th a:hover,
div#pluginrepo__table table th a:visited {
    color: #000;
}

div#pluginrepo__table table .center {
    text-align: center;
}

div#pluginrepo__table table .popularity,
div#pluginrepo__table table .lastupdate {
    width: 7em;
    text-align: center;
}

div#pluginrepo__table table .screenshot {
    width: 95px;
    text-align: center;
}

div#pluginrepo__table table div.details {
    margin-left: 1em;
}

div#pluginrepo__table div.repo_authorsort {
    float: right;
}

div#pluginrepo__table div.repo_plugintitle {
    padding-bottom: 0.2em;
    float: left;
}

div#pluginrepo__table div.repo_plugintitle a{
    font-weight: bold;
}

div#pluginrepo__table div.repo_download {
    float: right;
}

div#pluginrepo__table div.repo_download a{
    background: transparent url(images/download.gif) 0px 2px no-repeat;
    padding: 0px 0px 0px 12px;
    font-weight: bold;
}


div#pluginrepo__table div.repo_provides {
    padding-top: 0.5em;
    font-size: 70%;
    float: left;
}

div#pluginrepo__table div.repo_mail {
    padding-top: 0.5em;
    font-size: 70%;
    float: right;
}

div#pluginrepo__table div.prog-border {
    background: #FFFFFF none repeat scroll 0%;
    border: 1px solid silver;
    height: 5px;
    margin: 0pt;
    padding: 1px;
    width: 65px;
}

div#pluginrepo__table .prog-bar {
    background: #8CACBB none repeat scroll 0%;
    height: 100%;
    margin: 0pt;
    padding: 0pt;
}

div#pluginrepo__repo div.repo_info {
    width: 24%;
    float: left;
}

div#pluginrepo__repo div.repo_info ul {
    margin: 1.5em;
}

div#pluginrepo__repo div.repo_info ul li {
    margin-bottom: 0.5em;
}

div#pluginrepo__table h3,
div#pluginrepo__repo  h3 {
    margin-left: -3px;
    font-weight: normal;
}

div#pluginrepo__repo div#repo_searchform  {
    float: right;
}

div#pluginrepo__repo div.repo_cloud {
    border-left: 1px solid __border__;
    padding: 0em 2% 1.5em 2%;
    width: 71%;
    float: right;
    overflow: auto;
    padding-right: 0.5em;
}

div#pluginrepo__repo div.repo_cloud a.cl0 { font-size: 0.7em }
div#pluginrepo__repo div.repo_cloud a.cl1 { font-size: 0.9em }
div#pluginrepo__repo div.repo_cloud a.cl2 { font-size: 1em }
div#pluginrepo__repo div.repo_cloud a.cl3 { font-size: 1.3em }
div#pluginrepo__repo div.repo_cloud a.cl4 { font-size: 1.6em }
div#pluginrepo__repo div.repo_cloud a.cl5 { font-size: 1.9em }


ul#pluginrepo__foldout {
    margin: 0;
    list-style-type: none;
    margin-bottom: 4em;
}

ul#pluginrepo__foldout li {
    float: left;
}

ul#pluginrepo__foldout a.bugs {
    background: transparent url(images/bugs.png) top left no-repeat;
}

ul#pluginrepo__foldout a.repo {
    background: transparent url(images/repo.png) top left no-repeat;
}

ul#pluginrepo__foldout a.donate {
    background: transparent url(images/donate.png) top left no-repeat;
}

ul#pluginrepo__foldout a.download {
    background: transparent url(images/download.png) top left no-repeat;
    width: 167px;
    text-indent: 0px;
}

ul#pluginrepo__foldout a {
    display: block;
    width: 0px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 30px;
    line-height: 32px;
    font-size: 14px;
    text-decoration: none;
    border-left: 1px solid __border__;
    border-bottom: 1px solid __border__;
    border-right: 1px solid __border__;
    margin: 0 0px 0px 3px;

    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;

    text-indent: -9000px;
}

ul#pluginrepo__foldout a:hover,
ul#pluginrepo__foldout a:active {
    width: 167px;
    text-indent: 0px;
}

div.repo__news {
    border: 1px solid __border__;
    padding: 6px;
    width: 210px;
    float: right;
}

div.repo__news div.repo__newsheader {
    margin: -6px;
    height: 1.6em;
    text-align: center;
    font-weight: bold;
    background-color: __border__;
    color: __background__;
}
div.repo__news a {
    font-weight: bold;
}
div.repo__news li a{
    font-weight: normal;
}
div.repo__news div.repo_newslink {
    text-align: right;
}
div.repo__news div a{
    font-weight: normal;
}
